nav {
	background-color: #ff8080;
	padding-left: 50px;
	display: flex;      
    align-items: center;
}

.menu {
	list-style: none;      
    display: flex;         
    gap: 50px;             
    padding: 0;
    margin: 0 auto;
    font-size: 21px;
}

.menu li a {
    text-decoration: none;  
    color: white;        
    padding: 10px 15px;  
    display: block;
}

#name_site{
	font-style: italic;
}

img {
    height: 450px;
    width: auto;
}

.select_not_img {   
   text-align: center;
}

.select_not_img button {
    background-color: #ff8080;
    text-decoration: none;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 140px;
    border: none;             
    border-radius: 10px;     
    cursor: pointer;
}

.select_not_img button:hover {
    background-color: #ffb3b3;
}


section {
    background-color: #ffd6cc;
    height: auto;
    width: 450px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

section > :first-child {
    padding-top: 20px;
}

section > :last-child {
    padding-bottom: 20px;
}


main {
    display: flex;
    gap: 70px;
    justify-content: center;
    background-color: #cccccc;
}

footer {
    display: flex;
    background-color: #ff4d4d;
    gap: 75px;
    padding-left: 50px;
}

.information_about_us {
    color: #1a1a1a;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
    font-size: 17px;
}
